Blog: </br>
Online app:  </br>
Statistics for https://blogs.sap.com/ | comments, likes and views</br>
Created by: Sergiu Iatco | October, 2023 </br>
https://www.linkedin.com/in/sergiuiatco/ </br>

In [1]:
from sap_blog_statistics import SapBlogStatistics
import pandas as pd

In [2]:
bls = SapBlogStatistics('sap_blog_url_hana_ml_challenge_202211.csv')

In [3]:
bls.df_file

                                                 url
0  https://blogs.sap.com/2022/11/07/sap-community...
1  https://blogs.sap.com/2022/12/22/sap-hana-clou...
2  https://blogs.sap.com/2023/01/09/sap-hana-clou...
3  https://blogs.sap.com/2023/02/12/could-machine...
4  https://blogs.sap.com/2023/04/19/hello-world-y...
5  https://blogs.sap.com/2023/05/25/sap-machine-l...
6  https://blogs.sap.com/2023/07/14/building-trus...

In [4]:
%%time
bls.mt_iter_file()

CPU times: total: 844 ms
Wall time: 2.91 s

In [5]:
bls.df_results.dtypes

url                       object
OK                        object
ds-icon--comments         object
ds-icon--likes-outline    object
ds-icon--views            object
dtype: object

In [6]:
bls.df_results

,url,OK,ds-icon--comments,ds-icon--likes-outline,ds-icon--views
0,https://blogs.sap.com/2022/11/07/sap-community...,Y,8,24,"1,008"
1,https://blogs.sap.com/2022/12/22/sap-hana-clou...,Y,1,7,746
2,https://blogs.sap.com/2023/01/09/sap-hana-clou...,Y,4,13,"1,733"
3,https://blogs.sap.com/2023/02/12/could-machine...,Y,0,3,679
4,https://blogs.sap.com/2023/04/19/hello-world-y...,Y,7,5,"1,796"
5,https://blogs.sap.com/2023/05/25/sap-machine-l...,Y,7,5,"1,468"
6,https://blogs.sap.com/2023/07/14/building-trus...,Y,0,5,"1,258"

In [7]:
bls.mt_rename_cols(['url', 'OK', 'comments','likes','views'])

In [8]:
pd.set_option('display.max_colwidth', None)
bls.df_results

,url,OK,comments,likes,views
0,https://blogs.sap.com/2022/11/07/sap-community-call-sap-hana-cloud-machine-learning-challenge-i-quit-how-to-prevent-employee-churn/,Y,8,24,"1,008"
1,https://blogs.sap.com/2022/12/22/sap-hana-cloud-machine-learning-challenge-2022-the-winners-are/,Y,1,7,746
2,https://blogs.sap.com/2023/01/09/sap-hana-cloud-machine-learning-challenge-i-quit-understanding-metrics/,Y,4,13,"1,733"
3,https://blogs.sap.com/2023/02/12/could-machine-learning-build-a-model-for-prime-numbers/,Y,0,3,679
4,https://blogs.sap.com/2023/04/19/hello-world-your-crafted-chat-gpt-bot/,Y,7,5,"1,796"
5,https://blogs.sap.com/2023/05/25/sap-machine-learning-embedding-in-openai/,Y,7,5,"1,468"
6,https://blogs.sap.com/2023/07/14/building-trust-in-ai-youtube-transcript-openai-assistant/,Y,0,5,"1,258"

In [9]:
bls.df_results.dtypes

url         object
OK          object
comments    object
likes       object
views       object
dtype: object

In [10]:
bls.mt_convert_cols_to_int(['comments','likes','views'])

In [11]:
bls.df_results

,url,OK,comments,likes,views
0,https://blogs.sap.com/2022/11/07/sap-community-call-sap-hana-cloud-machine-learning-challenge-i-quit-how-to-prevent-employee-churn/,Y,8,24,1008
1,https://blogs.sap.com/2022/12/22/sap-hana-cloud-machine-learning-challenge-2022-the-winners-are/,Y,1,7,746
2,https://blogs.sap.com/2023/01/09/sap-hana-cloud-machine-learning-challenge-i-quit-understanding-metrics/,Y,4,13,1733
3,https://blogs.sap.com/2023/02/12/could-machine-learning-build-a-model-for-prime-numbers/,Y,0,3,679
4,https://blogs.sap.com/2023/04/19/hello-world-your-crafted-chat-gpt-bot/,Y,7,5,1796
5,https://blogs.sap.com/2023/05/25/sap-machine-learning-embedding-in-openai/,Y,7,5,1468
6,https://blogs.sap.com/2023/07/14/building-trust-in-ai-youtube-transcript-openai-assistant/,Y,0,5,1258

In [12]:
bls.df_results.dtypes

url         object
OK          object
comments      int8
likes         int8
views        int16
dtype: object

In [13]:
ok_dict = bls.mt_calculate_totals()
ok_dict

{'df_ok_sum':     comments  likes  views
 OK
 Y         27     62   8688,
 'df_ok_count':   OK  Count
 0  Y      7}

In [14]:
ok_dict['df_ok_sum']

    comments  likes  views
OK
Y         27     62   8688

In [15]:
ok_dict['df_ok_count']

  OK  Count
0  Y      7